/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Google Font Import - Poppins */

/* Variables */
:root { 
  /* ===== Colors ===== */
  --light-mode-color: #ffffffc2;
  --dark-mode-color: #161616c5;
  --icon-sytem-lm-color: #000000;
  --icon-sytem-dm-color: #ffffff;
  --hover-color: #282A3A;
  
  /* ====== Transition ====== */
  --tran-01: all 1s ease;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
  --tran-07: all 0.7s ease;
}
/* Variables */

/* Vista */
a{
  text-decoration: none;
}
.Desktop{
  background: url("../img/wallpaper/background.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.Taskbar {
  background-color: var(--light-mode-color);
  width: 80vw;
  height: 10vh;
  display: grid;
  grid-template-columns: repeat(2, auto);
  position: fixed;
  left: 10vw;
  bottom: 5vh;
  border-radius: 1em;
}
/* Vista */

/*Column - 1*/
.Icons_column{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1vh 4vh;
}
.Menu_icon{
  width: 8vh;
  padding: .2rem;
}
.Menu_icon:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: var(--tran-07);
}
.File_icon{
  margin-left: 4vw;
  width: 6vh;
  padding: .2rem;
}
.File_icon:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: var(--tran-07);
}
.App_icon{
  margin-left: 1.5vw;
  width: 6vh;
  padding: .2rem;
}
.App_icon:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: var(--tran-07);
}
/*Column - 1*/

/*Column - 2*/
.System_column{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 2vh;
}
.reloj{
  font: bold 1em dotum, "lucida sans", arial;
  color: var(--icon-sytem-lm-color);
  text-align: center;
  padding-top: 0.12rem;
}
.fa-solid{
  color: #000000;
  width: 2vh;
}
.fa-solid:hover{
  color: var(--hover-color);
}
.System_column > a{
  margin: 0px 1vw;
}
/*Column - 2*/

/*Modal - Menu*/
.menu_modal{
  display: none;
  position: fixed;
  width: 25vw;
  height: 30vw;
  background-color: var(--light-mode-color);
  top: 25vh;
  left: 10vw;
  border-radius: 1em;
}
/*Modal - Menu*/